---
items:
  - name: Drink too much
  - name: Eat too much
    completed: 2020-01-06
  - name: Drink too much
  - name: Eat too much
    completed: 2020-01-06
  - name: Drink too much
  - name: Eat too much
    completed: 2020-01-06
  - name: Drink too much
  - name: Eat too much
    completed: 2020-01-06
  - name: Drink too much
  - name: Eat too much
    completed: 2020-01-06
  - name: Drink too much
  - name: Eat too much
    completed: 2020-01-06
  - name: Drink too much
  - name: Eat too much
    completed: 2020-01-06
  - name: Drink too much
  - name: Eat too much
    completed: 2020-01-06
  - name: Drink too much
  - name: Eat too much
    completed: 2020-01-06
  - name: Drink too much
  - name: Eat too much
    completed: 2020-01-06
  - name: Drink too much
  - name: Eat too much
    completed: 2020-01-06
  - name: Drink too much
  - name: Eat too much
    completed: 2020-01-06
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>30 Under 30</title>
  </head>
  <!--
  TODO
  - Better color palette
  - Make the progress bar actually work and finish styling it
  - Enter real data and then work on the cards looking more impressive
  -->
  <body class="font-body h-screen flex flex-col bg-dusky-blue">
    <header class="flex-none">
      <div class="container mx-auto my-6 md:mt-12 px-8">
        <div class="relative">
          <h1 class="strato-header" data-heading="30 Under 30">
            <span data-heading="30 Under 30">30 Under 30</span>
          </h1>
        </div>
        <div class="mt-4">
          <div class="flex flex-no-wrap justify-center items-center">
            <div class="flex-auto mr-6 progress-bar-outer">
              <div class="progress-bar-inner" style="width: 68%;"></div>
            </div>
            <div class="flex-none">
              <span class="text-xl text-header-blue-200">2/30 complete</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="flex-auto">
      <div class="container mx-auto mt-4 mb-8 px-8">
        <ul class="item-layout">
        {% for item in items %}
        <li class="item {{ 'item-done' if item.completed }}">
          <span class="{{ 'line-through' if item.completed }}">{{ item.name }}</span>
          {% if item.completed %}
          <div class="item-sash">
            <span>&#10004;&nbsp;&nbsp;{{item.completed | niceDate}}</span>
          </div>
          {% endif %}
        </li>
        {% endfor %}
        </ul>
      </div>
    </main>
    <footer class="flex-none footer-separator text-dreary-red bg-orangey-red">
      <div class="container mx-auto my-8 px-8">
        <div class="text-center font-medium">
          <span>In a last ditch effort to hold on to our youth, we pledge to do 30 things before we turn 30.</span>
        </div>
      </div>
    </footer>
  </body>
</html>