---
items:
  - name: Drink too much
  - name: Eat too much
    completed: 1/6/20
  - name: Drink too much
  - name: Eat too much
    completed: 1/6/20
  - name: Drink too much
  - name: Eat too much
    completed: 1/6/20
  - name: Drink too much
  - name: Eat too much
    completed: 1/6/20
  - name: Drink too much
  - name: Eat too much
    completed: 1/6/20
  - name: Drink too much
  - name: Eat too much
    completed: 1/6/20
  - name: Drink too much
  - name: Eat too much
    completed: 1/6/20
  - name: Drink too much
  - name: Eat too much
    completed: 1/6/20
  - name: Drink too much
  - name: Eat too much
    completed: 1/6/20
  - name: Drink too much
  - name: Eat too much
    completed: 1/6/20
  - name: Drink too much
  - name: Eat too much
    completed: 1/6/20
  - name: Drink too much
  - name: Eat too much
    completed: 1/6/20
---
<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/css/styles.css">
      <title>30 Under 30</title>
    </head>
    <body class="font-body h-screen flex flex-col bg-dusky-blue">
      <header class="flex-none">
        <div class="container mx-auto my-6 md:mt-12 px-4">
          <div class="relative">
            <h1 class="strato-header" data-heading="30 Under 30">
              <span data-heading="30 Under 30">30 Under 30</span>
            </h1>
          </div>
        </div>
      </header>
      <main class="flex-auto">
        <div class="container mx-auto my-8 px-4">
          <ul class="item-layout">
          {% for item in items %}
          <li class="item {{ 'item-done' if item.completed }}">
          {{ item.name }}
          {% if item.completed %}
          <div class="item-sash">
            <span>Completed {{item.completed}}</span>
          </div>
          {% endif %}
          </li>
          {% endfor %}
          </ul>
        </div>
      </main>
      <footer class="flex-none footer-separator text-dreary-red bg-orangey-red">
        <div class="container mx-auto my-8 px-4">
          <div class="text-center">
            <span>In a last ditch effort to hold on to our youth, we pledge to do 30 things before we turn 30.</span>
          </div>
        </div>
      </footer>
    </body>
</html>